* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style: none;
}

#main-content {
    max-height: 100vh;
    width: 100%;
}

/* HEADER */

header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: mediumvioletred;
    height: 100%;
    align-items: center;
    padding: 1rem;
}

header img {
    height: 1.3rem;
    width: 1.3rem;
}


header p {
   font-size: 1.5rem;
   font-weight: 700; 
   padding-left: 0.5rem;
}

button {
    width: 4rem;
    height: 1.5rem;
    justify-self: end;
}

/* MAIN */

main {
    height: 100%;
    background-color: #f2d0e0;
    display: grid;
    grid-template-columns: 20rem 1fr;
    background-color: white;
}

main aside {
    background-color: rgb(221, 202, 217);
    padding: 1rem;
    padding-top: 2rem;
    color: black;
    line-height: 2.5;
    font-weight: 600;
}

/* MENU LATERAL */

.menu-lateral {
    display: grid;
    grid-template-columns: 0.5fr 2fr 2fr;
    justify-items: center;
    align-items: center;
}

.menu-lateral a {
    justify-self: start;
    padding-left: 0.5rem;
}

.menu-lateral img {
    height: 1rem;
    width: 1rem;
}

.menu-lateral .img1 {
    justify-self: end;
}

.menu-lateral .img2 {
    justify-self: end;
}

/* SECTION BOLOS */

section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin: 1rem;
}

.flexbox {
    display: grid;
    align-items: center;
    justify-items: center;
    text-align: center;
    gap: 1rem;
}

.flexbox div { 
    align-self: center;
    justify-self: center;
    box-shadow: 1px 1px 8px 1px rgb(169, 169, 169);
} 

.flexbox h3 {
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
}

.flexbox img {
    height: auto;
    width: 100%;
}

/* FOOTER */

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    font-size: 1.1rem;
    background-color: mediumvioletred;
    height: 3rem;
}