/*fabulous-skate.surge.sh*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: rgb(8, 8, 8);
    line-height: 1.5;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif; 
    text-transform: uppercase;
}

h1 {
    font-size: 6rem;
    line-height: 1;
}

h2 {
    font-size: 5.5rem;
    line-height: 1;
}

h3 {
    font-size: 5rem;
}

h4 {
    font-size: 4.5rem;
}

h5 {
    font-size: 4rem;
}

h6 {
    font-size: 3.5rem;
}

html {
    font-size: 62.5%;
}

/*     ////////////////                  MENU                  ////////////////     */ 

.menu {
    background-color: rgb(245, 245, 245);
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    border-bottom: 0.1rem solid rgb(80, 110, 9);
    z-index: 1;
}
.menu h3 {
    font-size: 3rem;
    color: rgb(8, 8, 8);
    line-height: 1.5;
    font-family: 'Open Sans', sans-serif; 
}

.menu-content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 120rem;
    align-items: center;
    padding-bottom: 0;
    padding-top: 0;
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu ul li a { 
    position: relative;
    padding: 2rem;
    color: rgb(8, 8, 8);
    font-size: 1.8rem;
    font-weight: 700;
}


.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 0.8rem;
    left: 2rem;
    width: 0;
    height: 0.2rem;
    background-color: crimson;
    transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after { 
    width: 80%;
}


/*     ////////////////                 ESTRUTURAS                 ////////////////     */

.main-bg {
    background-image: url(/img/background\ test\ 2.svg);
    background-position: center center;
    background-size: auto;
    color: #f2efeb;
}

.white-bg {
    background-color: beige;
    color: rgb(8, 8, 8);
}

.main-content {
    padding: 3rem;
    margin: 0 auto;
    max-width: 120rem;
}

.section {
    min-height: 100vh;
}
/*                   SECAO SOBRE-MIM                              */ 

.sobre-mim {
    padding: 3rem;
    margin-top: auto;
    text-align: center;
}

.sobre-mim-content {
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    height: 100vh;
    margin-top: 10rem;
}

.sobre-mim-text-content {
    position: relative;
    margin-top: -25rem;
    display: flex;
    flex-flow: column;
    justify-content: center;
}

.sobre-mim-text-content h2 {
    font-size: 7rem;
    margin-bottom: 3rem;
}

.img-sobre-mim img {
    max-width: 100%;
    height: 100%;    
    padding-left: 3rem;
    margin-top: -10rem;
}

/*                   SECAO COMPETENCIAS                              */ 

.competencias {
    padding: 3rem; 
}

.competencias-content {
    display: grid;
    grid-template-columns: 1fr 2.5fr;
    min-height: 100vh;
}

.competencias-text-content {
    position: relative;
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding-left: 3rem;
}

.competencias-text-content h2 {
    font-size: 7rem;
    margin-bottom: 3rem;
}

.img-competencias img {
    max-width: 80%;
    height: 100%;
}

/*                   PROJETOS                              */ 

.gallery {
    padding: 3rem;
}

.gallery h2 {
    margin-top: 7rem;
}

.gallery-images {
    display: grid;
    grid-template-columns: 0.33fr 0.33fr 0.33fr;
    max-width: 100vh;
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.gallery img {
    max-width: 80%;
    height: auto;
    margin-top: -25rem;
    border: 5px solid rgba(0, 0, 0, 0.377);
    border-radius: 10%;
    padding: 3rem;
}

/*                   FORMS                   */ 

.contato {
    padding: 3rem;
}

.contato-text-content h2 {
    margin-bottom: 1rem;
}

.contato-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    min-height: 100vh;
}

.contato-text-content {
    position: relative;
    display: flex;
    flex-wrap: wrap; 
    line-height: 25px; 
}

.img-contato img {
    max-width: 80%;
    height: auto;
}

div .contato-form {
    max-width: 80%;
    height: auto;
    grid-column: span 2;
    margin: auto;
}

.fieldset {
    border: 5px solid rgba(0, 0, 0, 0.568);
    display: flex;
    flex-flow:column;
    padding: 0.5rem;
    align-items: left;
    max-width: 50%;
    text-align: center;
}

.formulario label, .mensagem {
    display: block;
    text-align: center; 
}

.formulario input, 
.formulario textarea {
    border: none;
    width: auto;
    font-size: 2rem;
    outline: none;
}

.formulario textarea {
    align-items: center;
    max-width: 40vh;
    max-height: 100px;
}

legend {
    margin-bottom: 0.5rem;
    font-weight: 600;
}

.formulario button {
    border-color: rgb(0, 0, 0);
    background: none;
    color: black;
    padding: 0.5rem 1rem;
    cursor: pointer;
    font-size: 2rem;
}

.formulario button:hover {
    background-color: whitesmoke;
}


/*                   FOOTER                   */ 
.footer {
    height: auto;
}

.footer-links {
    padding: 3rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

/*                   FOOTER PROJETOS LP                   */ 

.home-page {
   text-align: center;
   padding: 0.5rem;
}

.home-page img {
    height: 6rem;
    width: 6rem;
    padding: 0.2rem;
    border: 5px solid rgba(0, 0, 0, 0.315);
    border-radius: 100%;
}

.projetos-landing-page {
    text-align: center;
}

.projetos-landing-page img {
    max-width: 50vh;
    height: auto;
}
